.container{
    border: 5px solid black;
    height: 1000px;
    margin: 50px;
    display: flex;
}
.box{
    width: 100px;
    height: 100px;
}
/* it is relative to its normal position */
.box1{
    background-color: aqua;
    position: relative;
    top: 200px;
    left: 100px;
}
.box2{
    background-color: red;
}
.box3{
    background-color: black;
    position: fixed;

}
.box4{
    background-color: yellow;
    position: sticky;
    top: opx;
    left: 0px;
}
/* position fixed is fixed till the page edges while position sticky is fixed only till the container it is   */
